# Oracle internal npm registry configuration as public npm registry https://registry.npmjs.org is blocked by corp-network.
# For details, see Oracle Confluence: JET CLI Setup – Setting up npm registry
# https://confluence.oraclecorp.com/confluence/pages/viewpage.action?spaceKey=JETPublic&title=JET+CLI+Setup#JETCLISetup-Settingupnpmregistry

registry=https://artifacthub-phx.oci.oraclecorp.com/api/npm/npmjs-remote
